.display-board {
    width: 30%;
    background-color: rgb(193, 236, 112);
    padding: 5%;
  }
  
  .number {
    color: red;
    font-size: 50px;
  }
  
  p {
    font-style: normal;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
