<div class="container">
  <h2>Tasks</h2>
  <table class="table table-bordered" align="left" >
    <thead>
      <tr>
        <th>Task Id</th>
        <th>TaskName</th>
        <th>TaskDescription</th>
        <th>startDate</th>
        <th>ETA</th>
        <th>Assigned</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks;">
        <td>{{task.id}}</td>
        <td>{{task.taskTitle}}</td>
        <td>{{task.taskDescription}}</td>
        <td>{{task.startDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{task.eta | date: 'dd/MM/yyyy'}}</td>
        <td>{{task.assigned}}</td>
        <td>{{task.points}}</td>
      </tr>
      
    </tbody>
  </table>
</div>